@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #09090b;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: #a855f7;
  color: white;
}